/* GLOBAL STYLES */

h2 {
	text-align: center;
	margin: 0 0 0.5em 0;
}

.main {
	min-height: calc(100% - 3em);
	padding-bottom: 3em;
}

.footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3em;
	padding-top: 0.75em;
	border-top: 0.1em solid #eee;
	box-sizing: border-box;
}

.links {
	margin: 0 1em 0 0;
	padding: 0;
	font-size: 0.8em;
	list-style-type: none;
	text-align: right;
}

.links__item {
	display: inline-block;
	margin: 0 0.5em;
}

.links__link {
	color: #777;
}

.button {
	border-radius: 1em;
}

.button--orange {
	color: #fff;
	background: #f46800;
}

.close {
	color: #fff;
	background: #f46800;
}

.logo {
	width: 6em;
	margin: -5em auto 5em;
	background: #fff;
	height: 6em;
	padding: 2em;
	box-sizing: content-box;
	border-radius: 5em;
	box-shadow: 0 0.2em 0.5em #bbb;
}

.logo--inverse {
	width: 4em;
	height: 4em;
	margin: 0 auto 2em;
	background: #f46800;
}

.logo__icon {
	width: 100%;
}

.section {
	width: auto;
	margin: 0 auto;
	transition: opacity 1s;
}

.section--hidden {
	opacity: 0;
}

.block {
	position: relative;
	margin-bottom: 1em;
	padding: 1em;
	border-radius: 0.2em;
	box-shadow: 0 0.1em 0.5em #999;
	background: #fff;
	text-align: center;
}

.back-to-main {
	position: absolute;
	display: block;
	top: 1em;
	left: 0.5em;
	width: 2em;
	height: 2em;
	text-align: left;
	border: none;
	border-radius: 1em;
	background: transparent;
	cursor: pointer;
}

.back-to-main:focus,
.back-to-main:hover {
	outline: none;
	transform: scale(0.9);
}

.back-to-main__icon {
	display: block;
	height: 1.8em;
}

.accent {
	width: 100%;
	height: 8em;
	background: #f46800;
	box-shadow: 0 0 1em #777;
}

.text-input,
.select {
	border: none;
	border-bottom: 0.1em solid #eee;
	transition: all 0.2s;
}

.text-input:hover,
.text-input:focus,
.select:hover,
.select:focus {
	outline: none;
	border-bottom-color: #777;
}

/*menu section */
.menu {
	text-align: center;
}

.list-item {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 0 0 1em 0;
}

.list-item__name {
	font-size: 2em;
	color: #f46800;
}

.list-item__remove {
	position: absolute;
	top: -10%;
	right: 0;
	margin: 0;
}

/* character top box */

.top-box {
	margin-top: -4.3em;
}

.name {
	display: block;
	width: 100%;
	margin-bottom: 0.5em;
	padding: 0.25em;
	background: transparent;
	font-size: 2em;
	text-align: center;
	box-sizing: border-box;
}

/* character healthbar */
.healthbar {
	float: left;
	width: 4em;
	height: 4em;
	margin-top: 0.75em;
	background: #fff;
	box-shadow: 0 0 0.5em #777;
	border-radius: 2em;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.healthbar--gloss:after {
	position: absolute;
	bottom: 0.5em;
	right: 0.3em;
	content: "";
	width: 3.2em;
	height: 3.2em;
	border-right: 0.3em solid #f7f7f7;
	border-radius: 50%;
	transform: rotate(45deg);
}

.healthbar__bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 4em;
	background: #f46800;
	text-align: center;
	transition: all 0.5s;
}

.healthbar__bar--to-faint {
	background: #f21;
	-webkit-animation: shake 1s infinite;
	-moz-animation: shake 1s infinite;
	animation: shake 1s infinite;
}

@-webkit-keyframes shake {
    0% {-webkit-transform: rotate(0);}
    20% {-webkit-transform: rotate(3deg);}
    60% {-webkit-transform: rotate(-3deg);}
    100% {-webkit-transform: rotate(0);}

}
@-moz-keyframes shake {
    0% {-moz-transform: rotate(0);}
    20% {-moz-transform: rotate(3deg);}
    60% {-moz-transform: rotate(-3deg);}
    100% {-moz-transform: rotate(0);}

}
@keyframes shake {
    0% {transform: rotate(0);}
    20% {transform: rotate(3deg);}
    60% {transform: rotate(-3deg);}
    100% {transform: rotate(0);}

}

.healthbar__icon {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;

}

/* character selects */
.selects {
	float: right;
	width: 75%;
	margin-left: 1em;
}

.division, .fur-color {
	display: block;
	width: 100%;
}

.division--actor {
	display: inline-block;
	font-size: 1.2em;
	color: #333;
}

/* character troubles */
.troubles-list {
	text-align: left;
}

.add-trouble {
	width: 4em;
	height: 4em;
	background: none;
	border: 1px solid #333;
	border-radius: 2em;
	vertical-align: middle;
	transition: all 0.2s;
	cursor:	pointer;
}

.add-trouble:hover,
.add-trouble:focus {
	outline: none;
	border-color: #f46800;
}

.add-trouble__icon {
	display: block;
	width: 100%;
}

.trouble-block__list {
	display: inline-block;
	/*max-width: 65%;*/
	width: calc(100% - 5.5em);
	margin: 0;
	padding-left: 1em;
	vertical-align: middle;
}

.trouble-block {
	margin-bottom: 1em;
}

.trouble {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.trouble__remove {
	display: flex;
	width: 3em;
	height: 3em;
	align-content: center;
	justify-content: center;
	vertical-align: middle;
	text-align: center;
	background: url('/res/svg/cross-grey.svg');
}

.trouble__icon {
	width: 100%;
	transition: all 0.2s;
	transform-origin: 50% 50%;
}

/* character penalties */
.penalties {
	text-align: center;
}

.penalty {
	display: inline-block;
	margin-right: 1em;
}

.penalty:last-child {
	margin-right: 0;
}

.penalty__icon {
	width: 3em;
	vertical-align: middle;
}

.penalty__value {
	vertical-align: middle;
	color: #f46800;
	font-size: 3em;
	font-weight: bold;
	font-family: Roboto, Arial;
}

/* character abilities */
.abilities {
	text-align: center;
}

.abilities__list {
	padding: 0;
	list-style-type: none;
	text-align: left;
}

.abilities__item {
	margin: 0;
}

.abilities__item--active {
	border-right: 0.2em solid #f46800;
}

.add-ability {
	/*color: #fff;
	background: #f46800;*/
}

/* character notes */
.notes {
	width: 100%;
	display: block;
	box-sizing: border-box;
	min-height: 2.2em;
	font-family: Helvetica, Arial;
	padding: 0.5em;
}

/* dice */
.dice {
	position: fixed;
	bottom: 5vw;
	right: 5vw;
	z-index: 2;
}

.die {
	display: inline-block;
	width: 3em;
	border-radius: 2em;
	height: 3em;
	padding: 0.5em;
	box-shadow: 0 0 0.75em #777;
	vertical-align: middle;
	background: #444;
}

.dice-results {
	display: inline-block;
	max-width: 70vw;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.dice-result {
	display: inline-block;
	margin: 0.5em 1em 0.5em 0;
}

.dice-result__value {
	display: block;
	width: 3em;
	height: 3em;
	padding: 0.5em;
	line-height: 2em;
	color: #fff;
	background: #444;
	text-align: center;
	font-weight: bold;
	border-radius: 1.5em;
	box-shadow: 0 0 0.75em #777;
	box-sizing: border-box;
}

.dice-result__value:hover,
.dice-result__value:focus {
	text-decoration: none;
	transform: scale(1.1);
}

.dice-result__value--rerolled {
	color: #f46800;
}

/* ability modal */

.list {
	padding: 0;
	text-align: left;
	list-style-type: none;
}

.ability {
	position: relative;
	margin: 1em 0 1em 0;
	transition: all 0.2s;
}

.ability:nth-child(5n) {
	border-bottom: 0.1em solid #ddd;
}

.ability--selected {
	background: rgba(244, 104, 0, 0.33);
}

.ability--selected .ability__name,
.ability--selected .ability__description {
	color: #555;
}

.ability__link {
	display: block;
	padding: 0 0.5em;
	color: #333;
	transition: all 0.2s;
}

.ability__link:hover,
.ability__link:focus {
	text-decoration: none;
	/*background: rgba(244, 104, 0, 0.33);*/
}

.ability__name {
	margin: 0;
}

.ability__description {
	margin: 0.5em 0 1em;
}


/* adventure scenes */
.scenes {
	text-align: right;
}

.scenes-list {
	float: left;
}

.scene__name {
	float: left;
	width: 58%;
	text-align: center;
	font-size: 1.2em;
}

.scene__tab {
	display: inline-block;
	color: #f46800;
}

.button--scene-remove {
	margin-right: 0;
}

/* adventure animals */
.found {
	padding: 0;
	list-style-type: none;
}

.animal {
	margin: 0 0 0.5em 0;
	text-align: left;
	transition: all 0.2s;
}

.animal:hover {
	margin: 0 -1em 0.5em -1em;
	padding: 1em;
	border-radius: 0.3em;
	background: #f2f2f2;
}

.animal__name {
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: middle;
	text-transform: capitalize;
	color: #f46800;
}

.animal__params {
	float: right;
}

.animal__param {
	display: inline-block;
	margin-left: 0em;
}

.animal__param:last-child {
	margin-left: 0.5em;
}

.animal__icon {
	vertical-align: middle;
	width: 1em;
}

.animal__stat-value {
	display: inline-block;
	width: 1.2em;
	vertical-align: middle;
	text-align: right;
	font-size: 1em;
	color: #777;
}

.search {
	display: block;
	width: 100%;
	padding: 0.5em;
	font-size: 1.2em;
	text-align: center;
	box-sizing: border-box;
}

/* adventure actors */
.actor-list {
	padding: 0;
	list-style-type: none;
}

.actor {
	position: relative;
	max-height: 6em;
	margin: 0;
	text-align: left;
	overflow: hidden;
	transition: all 0.6s;
}

.actor--active {
	max-height: 999em;
}

.actor--hide {
	overflow: hidden;
	height: 0;
	opacity: 0;
}


.actor-remove {
	color: #fff;
	background: #f46800;
}

.actor-main {
	position: relative;
	top: 0;
	left: 0;
	transition: all 0.6s;
}

.actor-setup {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	border-top: 0.1em solid #eee;
	border-bottom: 0.1em solid #eee;
	background: #fbfbfb;
	text-align: center;
	transition: all 0.6s;
	z-index: 1;
}

.actor-setup:hover + .actor-main {
	left: -100%;
}

.actor--active .actor-setup {
	display: block;
}

.actor-setup:hover {
	left: 0%;
}

.actor-setup:before {
	content: "...";
	display: block;
	position: absolute;
	top: 0;
	left: -1em;
	width: 1em;
	height: 1em;
	font-size: 2em;
	vertical-align: middle;
	line-height: 0.45em;
	text-align: center;
	border-radius: 0 0 50% 50%;
	background: #fbfbfb;
	color: #777;
	transform: rotate(90deg);
}

.healthbar--actor {
	margin: 1em 0 0 0.5em;
	overflow: visible;
}
/*
.healthbar--actor .healthbar__bar:before {
	position: absolute;
	bottom: 0.4em;
	left: 0.2em;
	width: 3.2em;
	height: 3.2em;
	content: '';
	border-right: 0.3em solid #fff;
	border-radius: 50%;
	transform: rotate(33deg);
}*/

.healthbar__wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
	z-index: 1;
}

.actor-namediv {
	display: flex;
	height: 4em;
	padding-top: 1em;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.actor-name,
.actor-division {
	padding-left: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
	color: #777;
}

.actor-division {
	color: #aaa;
	font-weight: normal;
	font-style: italic;
}

.actor__stats {
	
}

.actor__troubles {
	float: left;
	width: auto;
	margin-top: 1em;
	padding: 0;
	list-style-type: none;
	text-align: right;
}

.actor__trouble {
	display: inline-block;
	margin: 0 0 0 1em;
}

.actor-penalty {
	position: absolute;
	top: -0.5em;
	left: 0;
	width: 1em;
	height: 1em;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1em;
	text-align: center;
	color: #777;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0.5em #333;
	z-index: 1;
}

.actor-penalty--body {
	left: auto;
	right: 0;
}

.stat {
	display: block;
	margin-bottom: 1em;
	text-align: center;
}

.stat__icon {
	width: 3em;
	margin-right: 1em;
	vertical-align: middle;
}

.stat__button {
	width: 3em;
	height: 3em;
	margin: 0;
	border: 0.1em solid #777;
	border-radius: 1.5em;
	vertical-align: middle;
	background: white;
}

.stat__button:focus {
	outline: none;
}

.stat__value {
	margin: 0 0.25em;
	text-align: center;
	vertical-align: middle;
	font-size: 2em;
	font-weight: bold;
	color: #777;
}

.troubles-list--actor {
	margin: 1em 0 0 0.5em;
}

.button--ability-list {
	position: absolute;
	right: 0;
}


@media screen and (max-width: 1024px) {
	.scene__name {
		width: 50%;
		margin-left: 25%;
	}
}

@media screen and (max-width: 960px) {
	.section {
		width: 70%;
	}

	.selects {
		width: 75%;
	}
}

@media screen and (max-width: 640px) {
	.section {
		width: 80%;
	}

	.selects {
		width: 65%;
	}
}

@media screen and (max-width: 480px) {
	.section {
		width: 90%;
	}
	.scene__name {
		margin-left: 0;
		width: 60%;
		text-align: left;
	}
}


@media screen and (min-width: 641px) {
	/*.trouble-block__list {
		max-width: 70%;
	}*/

	.trouble-block {
		display: inline-block;
		width: 50%;
	}

	.trouble__remove {
		width: 2em;
		height: 2em;
	}
}

@media screen and (min-width: 721px) {
	.trouble__remove {
		width: 3em;
		height: 3em;
	}
}

@media screen and (min-width: 961px) {
	.section {
		width: 60%;
	}

	.selects {
		width: 80%;
	}

	.dice {
		position: absolute;
		top: 6em;
		bottom: auto;
		right: 10%;
	}

	.scene__name {
		margin-left: 21%;
	}

	.scenes-list {
		float: none;
	}

	.stat {
		display: inline-block;
		width: 33%;
	}
}

@media screen and (min-width: 1321px) {
	.section {
		width: 50%;
	}

	.dice {
		right: 12.5%;
	}
}