body {
	font-family: Arial;
}

a {
	color: #f46800;
}

.home {
	min-height: calc(100vh - 3em);
	text-align: center;
}

.footer {
	height: 1em;
	padding: 1em;
	line-height: 1em;
	text-align: center;
}

.footer__link {
	color: #777;
	transition: all 0.2s;
}

.footer__link:focus,
.footer__link:hover {
	color: #f46800;
}

.logo {
	width: 6em;
	height: 6em;
	margin: 0 auto 5em;
	padding: 2em;
	background: #fff;
	border-radius: 6em;
	box-shadow: 0 0.2em 0.5em #bbb;
	box-sizing: content-box;
}

.logo__icon {
	width: 100%;
}

.menu {
	list-style-type: none;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	transition: all 0.2s;
}

.menu--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5em;
	box-shadow: 0 0 0.2em #777;
}

.menu__item {
	display: inline-block;
	margin: 0 0.25em;
	vertical-align: middle;
}

.menu__item--logo {
	width: 0;
	transition: all 0.2s;
	transform-origin: 50% 50%;
	vertical-align: middle;
	line-height: 1em
}

.menu--fixed .menu__item--logo {
	width: 2em;
}

.menu__link {
	display: block;
	padding: 0.5em;
	color: #f46800;
	transition: all 0.2s;
}

.menu__link:focus,
.menu__link:hover {
	color: #F38A3D;
	text-decoration: none;
}

.menu__link--inverse {
	color: #fff;
	background-color: #f46800;
	border-radius: 0.5em;
}

.menu__link--inverse:focus,
.menu__link--inverse:hover {
	text-decoration: none;
	color: #fff;
	background: #F38A3D;
}


.menu__item--languages {
	position: relative;
	overflow: hidden;
	max-height: 2em;
	transition: all 0.2s;
}

.menu__item--languages:hover {
	overflow: visible;
}

.languages-button {
	display: block;
	height: 2em;
	vertical-align: middle;
	line-height: 2em;
	color: #777;
}

.languages {
	margin: 0;
	padding: 0.5em;
	background: #fff;
	list-style-type: none;
	border-radius: 0.5em;
}

.language {
	margin: 0;
}

.menu__item--languages:hover .languages {
	box-shadow: 0 0.2em 0.2em #aaa;
}
.section {
	min-height: 100vh;
	padding-top: 4em;
	text-align: left;
}