<div class="main row">
	<div class="accent"></div>
	<div class="menu section section--hidden" data-ljs-s="menu">
		<div class="logo"><img src="/res/svg/logo-orange.svg" class="logo__icon" /></div>
		<ul class="list">
			{{listItem in characters}}
		</ul>
		<button class="button" data-ljs-l="add.character"><?= $t->_("create mouse"); ?></button>
		<hr />
		<ul class="list">
			{{listItem in adventures}}
		</ul>
		<button class="button" data-ljs-l="add.adventure"><?= $t->_("create adventure"); ?></button>
	</div>
	
	<div class="character section section--hidden" data-ljs-s="character">
		<button class="back-to-main" data-ljs-l="saveCharacter">
			<img src="/res/svg/caret-left.svg" class="back-to-main__icon" />
		</button>					
		
		<div class="block top-box">
			<input type="text" class="name text-input" name="name" placeholder="<?= $t->_('name'); ?>" />

			<div class="healthbar">
				<div class="healthbar__bar">
					<img src="/res/svg/logo.svg" class="healthbar__icon penalty__icon penalty--faint" />
					<img src="/res/svg/death.svg" class="healthbar__icon penalty__icon penalty--death" />
				</div>
			</div>

			<div class="selects">
				<select name="division" class="select division">
					<option value="0"><?= $t->_("- No division -"); ?></option>
					<option value="1"><?= $t->_("Harvester"); ?></option>
					<option value="2"><?= $t->_("Scout"); ?></option>
					<option value="3"><?= $t->_("Tuft"); ?></option>
					<option value="4"><?= $t->_("Fighter"); ?></option>
				</select>

				<select name="furColor" class="select fur-color">
					<option value="0"><?= $t->_("- No color -"); ?></option>
					<option value="1"><?= $t->_("Non-Agouti (Black)"); ?></option>
					<option value="2"><?= $t->_("Extreme Non-Agouti (Extreme Black)"); ?></option>
					<option value="3"><?= $t->_("Black/Extreme Black Comparison"); ?></option>
					<option value="4"><?= $t->_("Chocolate"); ?></option>
					<option value="5"><?= $t->_("Mock Chocolate"); ?></option>
					<option value="6"><?= $t->_("Light Mock Chocolate"); ?></option>
					<option value="7"><?= $t->_("Champagne"); ?></option>
					<option value="8"><?= $t->_("Coffee"); ?></option>
					<option value="9"><?= $t->_("Beige"); ?></option>
					<option value="10"><?= $t->_("Lilac"); ?></option>
					<option value="11"><?= $t->_("Dilute & Leaden (Blue)"); ?></option>
					<option value="12"><?= $t->_("Silver"); ?></option>
					<option value="13"><?= $t->_("Dove"); ?></option>
					<option value="14"><?= $t->_("Lavender"); ?></option>
					<option value="15"><?= $t->_("Recessive Yellow"); ?></option>
					<option value="16"><?= $t->_("Yellow"); ?></option>
					<option value="17"><?= $t->_("Cream"); ?></option>
					<option value="18"><?= $t->_("Albino & PEW (Pink Eye White)"); ?></option>
					<option value="19"><?= $t->_("BEW (Brown Eye White)"); ?></option>
					<option value="20"><?= $t->_("REW (Ruby Eye White)"); ?></option>
				</select>
			</div>
			<div class="clear"></div>
		</div>

		<div class="block troubles">
			<h2><?= $t->_("Troubles"); ?></h2>
			<div class="troubles-list">
				{{troubleBlock in troubles}}
			</div>
			<div class="penalties">
				<div class="penalty penalty--body">
					<img src="/res/svg/body.svg" class="penalty__icon" />
					<span class="penalty__value">{{penalties.body}}</span>
				</div>

				<div class="penalty penalty--mind">
					<img src="/res/svg/mind.svg" class="penalty__icon" />
					<span class="penalty__value">{{penalties.mind}}</span>
				</div>
			</div>
			
		</div>

		<div class="block abilities">
			<h2><?= $t->_("Abilities"); ?></h2>
			<ul class="abilities__list">
				{{characterAbility in abilities}}
			</ul>
			<button class="button add-ability" data-ljs-l="addAbility">&plus;</button>
		</div>

		<div class="block">
			<h2><?= $t->_("Notes"); ?></h2>
			<textarea name="notes" class="notes text-input textarea--autoresize" placeholder="<?= $t->_('Enter notes here...'); ?>"></textarea>
		</div>
	</div>

	<div class="adventure section section--hidden" data-ljs-s="adventure">
		<button class="back-to-main" data-ljs-l="saveAdventure">
			<img src="/res/svg/caret-left.svg" class="back-to-main__icon" />
		</button>					
		
		<div class="top-box block">
			<input type="text" name="name" class="name text-input" placeholder="<?= $t->_('Adventure title'); ?>" />

		</div>

		<div class="scenes block" data-ljs-s="scenes">
			<h2><?= $t->_("Scenes"); ?></h2>
			<div class="scene">
				<h3><input type="text" name="name" class="scene__name text-input" />
				<a href="javascript:void(0);" class="scene__tab" data-ljs-l="tab">{{tabName}}</a></h3>
				<textarea name="note" class="notes text-input textarea--autoresize" placeholder="<?= $t->_('Scene notes here'); ?>"></textarea>
			</div>
			<select name="id" class="select scenes-list">
				{{sceneListItem in list}}
			</select>
			<span class="scene-buttons">
				<button class="button" data-ljs-l="add">&plus;</button>
				<button class="button button--scene-remove" data-ljs-l="remove">&times;</button>
			</span>
		</div>

		<div class="actors block" data-ljs-s="actors">
			<h2><?= $t->_("Scene Actors"); ?></h2>
			<ul class="actor-list">
				{{actor in actors}}
			</ul>
			<button class="button button--orange" data-ljs-l="addActor">&plus;</button>
			<button class="button button--ability-list" data-ljs-l="openAbilities"><?= $t->_("Abilities"); ?></button>
		</div>

		<div class="animals block">
			<h2><?= $t->_("Animals"); ?></h2>
			<input type="text" name="animals.search" class="search text-input" placeholder="<?= $t->_('Search for animal...'); ?>" />
			<ul class="found">
				{{animal in animals.found}}
			</ul>
		</div>
	</div>

	<div class="dice hidden" data-ljs-s="dice">
		<ul class="dice-results">
			{{result in rolls}}
		</ul>
		<a href="javascript:void(0);" class="die" data-ljs-l="roll" oncontextmenu="return false;">
			<img ljs-src="/res/svg/{{dieIcon}}.svg" class="die__icon" />
		</a>
	</div>
</div>

<div class="footer" data-ljs-s="footer">
	<ul class="links">
		<li class="links__item">
			<a href="#sign" class="links__link sign-in"><?= $t->_("Login"); ?></a>
			<a href="javascript:void(0);" class="links__link sign-out" data-ljs-l="logout"><?= $t->_("Logout"); ?></a>
		</li>
		<li class="links__item"><a href="/" class="links__link"><?= $t->_("Home"); ?></a></li>
		<li class="links__item"><a href="/#rules" class="links__link"><?= $t->_("Rules"); ?></a></li>
		<li class="links__item"><a href="#settings" class="links__link"><?= $t->_("Settings"); ?></a></li>
		<li class="links__item">|</li>
		<li class="links__item"><a href="jocho.sk" class="links__link">jocho.sk</a> &copy; <span class="year"></span></li>
	</ul>
</div>



<!-- MODALS -->

<div id="settings" class="modal" data-ljs-s="settings">
	<div class="modal-window xs-size12 sm-size10 size 8 lg-size6 xl-size4">
		<div class="modal-window__header">
			<h2><?= $t->_("Settings"); ?></h2>
		</div>
		<div class="modal-window__body">
			<label class="label" for="settings__dice"><?= $t->_("Show dice"); ?></label>
			<input type="checkbox" id="settings__dice" name="showDice" class="input" value="1" />
		</div>
		<div class="modal-window__footer tar">
			<a href="#" class="close button"><?= $t->_("Close"); ?></a>
		</div>
	</div>
</div>

<div id="sign" class="modal" data-ljs-s="sign">
	<div class="modal-window xs-size12 sm-size10 size 8 lg-size6 xl-size4">
		<div class="modal-window__header">
			<h2 class="sign-title"><?= $t->_("Sign In"); ?></h2>
		</div>
		<div class="modal-window__body tac">
			<form action="/users" method="post">
				<label class="label" for="email-sign">e-mail</label>
				<input type="email" id="email-sign" name="email" class="input" />
				<br />
				<label class="label" for="pass1-sign"><?= $t->_("password"); ?></label>
				<input type="password" id="pass1-sign" name="password" class="input" />
				<br />
				<div class="signup-only">
					<label class="label" for="pass2-sign"><?= $t->_("password2"); ?></label>
					<input type="password" id="pass2-sign" name="password2" class="input" />
				</div>
			</form>
		</div>
		<div class="modal-window__footer tar">
			<a href="javascript:void(0);" class="button toggle-sign b--blue left" data-ljs-l="toggleSign"><?= $t->_("Sign Up"); ?></a>
			<a href="#" class="close button"><?= $t->_("Close"); ?></a>
			<a href="javascript:void(0);" class="button signup-only b--green" data-ljs-l="signUp"><?= $t->_("Sign Up"); ?></a>
			<a href="javascript:void(0);" class="button signin-only b--green" data-ljs-l="signIn"><?= $t->_("Sign In"); ?></a>
		</div>
	</div>
</div>

<div id="ability-list" class="modal" data-ljs-s="abilityModal">
	<div class="modal-window xs-size12 sm-size10 size 8 lg-size6 xl-size4">
		<div class="modal-window__header">
			<h2><?= $t->_("Ability List"); ?></h2>
		</div>
		<div class="modal-window__body">
			<p class="tac"><?= $t->_("Select up to 4 abilities by clicking on them."); ?></p>
			<ul class="list">
				{{ability in list}}
			</ul>
		</div>
		<div class="modal-window__footer tac">
			<a href="javascript:void(0)" class="button close"><?= $t->_("Close"); ?></a>
		</div>
	</div>
</div>

<!-- TEMPLATES -->
<template name="result">
	<li class="dice-result"><a href="javascript:void(0);" class="dice-result__value" data-ljs-l="reroll">{{value}}</a></li>
</template>

<template name="trouble">
	<li class="trouble">
		<a href="javascript:void(0);" class="trouble__remove" data-ljs-l="trouble.remove"><img src="/res/svg/cross.svg" class="trouble__icon" /></a>
	</li>
</template>

<template name="troubleBlock">
	<div class="trouble-block">
		<button class="add-trouble" data-ljs-l="trouble.add"><img ljs-src="/res/svg/{{type}}.svg" class="add-trouble__icon"/></button>
		<ul class="trouble-block__list">
			{{trouble in list}}
		</ul>
	</div>
</template>

<template name="ability">
	<li class="ability">
		<a href="javascript:void(0);" class="ability__link" data-ljs-l="select">
			<h4 class="ability__name">{{name}}</h4>
			<p class="ability__description">{{description}}</p>
		</a>
	</li>
</template>

<template name="characterAbility">
	<li class="abilities__item">
		<h4 class="ability__name">{{name}}</h4>
		<p class="ability__description">{{description}}</p>
	</li>
</template>

<template name="listItem">
	<li class="list-item">
		<a href="javascript:void(0);" class="list-item__name" data-ljs-l="load">{{name}}</a>
		<button class="button list-item__remove" data-ljs-l="remove">&times;</button>
	</li>
</template>

<template name="sceneListItem">
	<option value="{{id}}">{{name}}</option>
</template>

<template name="animal">
	<li class="animal">
		<a href="javascript:void(0);" class="animal__name" data-ljs-l="addActorAnimal">{{name}}</a>
		<div class="animal__params">
			<div class="animal__param">
				<img src="/res/svg/vitality.svg" class="animal__icon" />
				<span class="animal__stat-value">{{vitality}}</span>
			</div>
			<div class="animal__param">
				<img src="/res/svg/energy.svg" class="animal__icon" />
				<span class="animal__stat-value">{{energy}}</span>
			</div>
		</div>
		<div class="clear"></div>
	</li>
</template>

<template name="actor">
	<li class="actor">
		<div class="actor-setup">
			<input type="text" name="name" class="name text-input" placeholder="<?= $t->_('Actor name'); ?>" />
			<div class="actor__stats">
				<div class="stat">
					<select name="division" class="select division division--actor">
						<option value="0"><?= $t->_("- No division -"); ?></option>
						<option value="1"><?= $t->_("Harvester"); ?></option>
						<option value="2"><?= $t->_("Scout"); ?></option>
						<option value="3"><?= $t->_("Tuft"); ?></option>
						<option value="4"><?= $t->_("Fighter"); ?></option>
					</select>
				</div>
				<div class="stat">
					<img src="/res/svg/vitality.svg" class="stat__icon" />
					<button class="stat__button" data-ljs-l="stat.vitality.lower">&larr;</button>
					<span class="stat__value">{{vitality}}</span>
					<button class="stat__button" data-ljs-l="stat.vitality.raise">&rarr;</button>
				</div>
				<div class="stat">
					<img src="/res/svg/energy.svg" class="stat__icon" />
					<button class="stat__button" data-ljs-l="stat.energy.lower">&larr;</button>
					<span class="stat__value">{{energy}}</span>
					<button class="stat__button" data-ljs-l="stat.energy.raise">&rarr;</button>
				</div>
			</div>
			<hr/>
			<button class="button actor-remove" data-ljs-l="removeActor"><?= $t->_("Remove actor"); ?></button>
		</div>

		<div class="actor-main">
			<a href="javascript:void(0);" class="healthbar healthbar--actor" data-ljs-l="activateActor">
				<div class="healthbar__wrapper">
					<div class="healthbar__bar">
						<img src="/res/svg/logo.svg" class="healthbar__icon penalty__icon penalty--faint" />
						<img src="/res/svg/death.svg" class="healthbar__icon penalty__icon penalty--death" />
					</div>
				</div>
				<div class="actor-penalty actor-penalty--mind">{{penalties.mind}}</div>
				<div class="actor-penalty actor-penalty--body">{{penalties.body}}</div>
			</a>
			<div class="actor-namediv">
				<span class="actor-name">{{name}}</span>
				<span class="actor-division"></span>
			</div>
			<div class="clear"></div>
			
			<div class="troubles-list troubles-list--actor">
				{{troubleBlock in troubles}}
			</div>
			<textarea name="notes" class="notes text-input textarea textarea--autoresize" placeholder="<?= $t->_('Enter notes here...'); ?>"></textarea>
		</div>
	</li>
</template>