<div class="row">
	<div class="home column8 xs-column10 sm-column8 lg-column8 xl-column6 center">
		<div id="home" class="section tac">
			<div class="logo">
				<img src="/res/svg/logo-orange.svg" class="logo__icon" />
			</div>
			
			<h1>For the Colony</h1>
			<ul class="menu">
				<li class="menu__item menu__item--logo">
					<a href="#home"><img src="/res/svg/logo-orange.svg" class="logo__icon" /></a>
				</li>
				<li class="menu__item">
					<a href="#about" class="menu__link"><?= $t->_("About"); ?></a>
				</li>
				<li class="menu__item">
					<a href="#origin" class="menu__link"><?= $t->_("Origin"); ?></a>
				</li>

				<li class="menu__item">
					<a href="#news" class="menu__link"><?= $t->_("News"); ?></a>
				</li>

				<li class="menu__item">
					<a href="#rules" class="menu__link"><?= $t->_("Rules"); ?></a>
				</li>

				<li class="menu__item">
					<a href="#author" class="menu__link"><?= $t->_("Author"); ?></a>
				</li>

				<li class="menu__item">
					<a href="/app" class="menu__link menu__link--inverse"><?= $t->_("App"); ?></a>
				</li>
				<li class="menu__item menu__item--languages">
					<span class="languages-button"><?= $currentLang; ?></span>
					<ul class="languages">
						<li class="language"><a href="?lang=sk" class="language__link">SK</a></li>
						<li class="language"><a href="?lang=cz" class="language__link">CZ</a></li>
						<li class="language"><a href="?lang=en" class="language__link">EN</a></li>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div id="about" class="section">
			<h2><?= $t->_("About"); ?></h2>
			<p><?= $t->_("For the Colony is a roleplaying game where players don't play for heroes as they usually do. They play as mice."); ?></p>
			<p><?= $t->_("Yup, mice."); ?></p>
			<p><?= $t->_("I mean, ordinary mice. Not those that can talk to people. Wear clothes. Wield weapons. None of that. This is game about struggles of ordinary mouse colony and its members. To eat. To secure the future. To survive."); ?></p>
		</div>
		<div id="origin" class="section">
			<h2><?= $t->_("Origin"); ?></h2>
			<p><?= $t->_("The idea originaly came during my pariticipation on David Schirduan's"); ?> <a href="http://schirduans.com/david/200-word-rpg-challenge-2016" title="200 Word RPG Challenge">200 Word RPG Challenge</a> <?= $t->_("in 2016. Although the original concept did not win any prize, the theme itself was strong enough to continue working on it."); ?></p>
			<p><?= $t->_("After couple of months the latest version is finally available."); ?></p>
		</div>
		<div id="news" class="section">
			<h2><?= $t->_("News"); ?></h2>
			<ul>
				<li><?= $t->_("Now the game is under heavy testing as there is need to keep the rules simple and short, yet rich enough to make game interesting for both new and old players of RPGs."); ?></li>
				<li><?= $t->_("The preferred Pocket-book format was abandoned. Originaly 200-word game needs a bit more space now."); ?></li>
				<li><?= $t->_("Game was playtested for the first time on 2016-06-9. Since then minor changes were applied."); ?></li>
			</ul>
		</div>
		<div id="rules" class="section">
			<h2><?= $t->_("Rules"); ?></h2>
			<p><?= $t->_("The latest rules can be downloaded from following links:"); ?></p>
			<table class="table">
				<tr>
					<td><?= $t->_("English version"); ?></td>
					<td><a href="/res/files/for-the-colony-en.pdf">For the Colony EN</a></td>
				</tr>

				<tr>
					<td><?= $t->_("Slovak translation"); ?></td>
					<td><a href="/res/files/for-the-colony-sk.pdf">For the Colony SK</a></td>
				</tr>
			</table>
		</div>
		<div id="author" class="section">
			<h2><?= $t->_("Author"); ?></h2>
			<p><?= $t->_("I am Marek J. Kolcun. I made For the Colony."); ?></p>
			<p><?= $t->_("You're welcome."); ?></p>
		</div>
	</div>
	<div class="footer">
		<p><a href="http://jocho.sk" class="footer__link">jocho.sk</a> &copy; 2016</p>
	</div>
</div>